@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap")
    format("embedded-opentype");
}
* {
  font-weight: 400;
}
ul {
  list-style: none;
  padding-left: 0;
}
.navbar {
  background-color: red;
  white-space: nowrap;
  width: 100%;
}
nav h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 5px;
}
.navbar ul li:nth-child(2) {
  background-color: yellow;
  border-radius: 25px;
  padding: 0 10px;
}
#links {
  display: none;
}
.news {
  margin-top: 20px;
}
.news span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 360px;
}
.news span p {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  font-weight: bolder;
  font-size: 20px;
  padding: 0 20px;
}
.title {
  color: gray;
}
.icon {
  height: 60px;
  margin-right: 20px;
}
#debate-header {
  border-bottom: 5px #cecece solid;
  padding-bottom: 15px;
}
#debate li,
#opinion li,
#stories li {
  display: flex;
}
#debate li:nth-child(2) {
  justify-content: center;
}
#debate li:nth-child(2) p {
  font-size: 15px;
  border-radius: 30px;
  background-color: black;
  color: white;
  padding: 8px;
}
#debate li:last-child {
  justify-content: space-between;
  border-bottom: 5px #cecece solid;
  padding-bottom: 15px;
}
#opinion li,
#stories li,
#stories-header {
  padding: 8px 0;
  border-bottom: 1px #cecece solid;
}
#opinion li:last-child,
#stories li:last-child {
  border-bottom: 0;
}
#stories li img {
  height: 90px;
}
.list div img {
  width: 100%;
}
#email {
  display: flex;
  justify-content: center;
}
#email span {
  width: 300px;
  padding: 20px 20px 0 20px;
  background-color: #cecece;
}
#email span ul li * {
  width: 250px;
  margin-bottom: 10px;
}
#diff {
  text-align: center;
}
input {
  border-style: groove;
  border-width: thin;
  border-radius: 0;
}
#email span ul li button {
  margin-bottom: -5px;
}
#upper {
  margin-bottom: 50px;
}
.title2 {
  font-weight: bolder;
  text-align: center;
}
.magazine div {
  height: 40vh;
}
.magazine div span {
  display: flex;
}
.magazine img {
  height: 90%;
  width: 100%;
}
.redbox {
  background-color: red;
  color: white;
  margin-right: 10px;
  padding: 2px 7px;
}
.redtext {
  color: red;
}
.title3 {
  color: red;
}
.filler img {
  max-width: 100%;
}
.stack img {
  max-width: 40%;
  margin-right: 15px;
}
.stack li {
  display: flex;
  margin: 20px 0;
  border-bottom: 1px #cecece solid;
  padding-bottom: 25px;
}
#subscribe {
  text-align: center;
}
#newsletter img {
  width: 100%;
}
#newsletter {
  justify-content: center;
}
.letterbox {
  display: flex;
  justify-content: center;
}
.letterbox input {
  width: 60%;
}
.letterbox button {
  width: 40%;
  border-radius: 0;
}
