* {
  /* border-style: groove;
  border-width: thin; */
}
ul {
  list-style: none;
  padding-left: 0;
}
nav {
  background-color: red;
  white-space: nowrap;
  width: 100%;
}
nav h1 {
  color: white;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 5px;
}
nav ul li:nth-child(2) {
  background-color: yellow;
  border-radius: 25px;
  padding: 0 5px;
}
.news span {
  background-image: url("./illuna.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 200px;
}
.news span p {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 0;
  background-color: #cecece;
  color: red;
  font-weight: bolder;
  font-size: 30px;
  padding: 0 5px;
}
