ul {
  list-style: none;
  padding-left: 0;
}
nav {
  background-color: red;
  white-space: nowrap;
  width: 100%;
  /* margin-bottom: 15px; */
}
nav h4 {
  color: white;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 5px;
}
nav ul li:nth-child(2) {
  background-color: yellow;
  border-radius: 25px;
  padding: 0 10px;
}
.news {
  /* border-bottom: 20px inset #cecece; */
  margin-top: 20px;
}
.news span {
  background-image: url("https://images.unsplash.com/photo-1602559227639-3bba8ce496df?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 360px;
}
.news span p {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 0;
  /* background-color: #cecece; */
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  font-weight: bolder;
  font-size: 20px;
  padding: 0 5px;
}
.title {
  color: gray;
}
.C {
  margin-top: 20px;
}
#email {
  display: flex;
  justify-content: center;
}
#email span {
  padding: 20px 20px 0 20px;
  background-color: #cecece;
}
#email span ul li * {
  width: 250px;
  margin-bottom: 10px;
}
#email span ul li input {
  border-style: groove;
  border-width: thin;
  border-radius: 0;
}
#email span ul li button {
  margin-bottom: -5px;
}
.title2 {
  font-weight: bolder;
  text-align: center;
}
.title3 {
  color: red;
}
